[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
django-taggit = "*"
markdown = "*"
psycopg2-binary = "*"
django-extensions = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.12"
